
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Italie", Timcol-sm-3es, serif;
  text-shadow: 3px 3px 1px black; 
}

h3 {
	font-family: "Italie", Times, serif;
}

p {
	color: grey;
}

body{
	color: grey;
}

.title-background{
	background-image: url("images/hairsalon.jpg");
	height: 300px;
	border: 3px;
	margin: auto;
}

.row{
	margin: auto;
}

.row button{
	background-color: #e7dfd5;
	padding: 14px 16px;
	border: 1px beige;
}

.col-sm-3{
	background-color: #e7dfd5;
	border: 1px beige;
}

.aboutus{
	background-color: #e7dfd5;
	border: 1px beige;
	width:1400px;
	margin: auto;
}

.container{
	background-color: #fcf8e8;
	border-color: white;
}
.table{
	background-color: #fcf8e8;
	border-color: white;
	table-layout: white;
}

.footer {
	background-color: #e7dfd5;
	border: 1px beige;
	width: 1500px;
	margin: auto;
}

.choice{
	color:grey;
}


.container button{
	background: white;
	border-radius: 10px;
	border: 1px solid #ccc;
}



